/* Cor do fundo */
.box1{
    background-color: #3F51B5;
    height: 50px;
}

/* Icones */
.redes{
    font-size: 45px;
    color: white;
}

/* Fonte das letras */
.fonte{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}